html{
    background-color: aquamarine;
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 10px;
    background-color: blueviolet;

}
h1{
    color: white;
    border-radius: 20px;
    text-align: center;
}
h3{
    color:azure;
    text-align: center;
}
img{
    width: 400px;
    text-align: center;
    border-radius: 10px;
}
img:hover{
    width: 500px;
    border-radius: 20px;
}
#par{
    text-align: center;
}
#articulo:hover{
    font-style: italic;
    font-size: xx-large;
    
}
#articulo{
    padding: 10px;
    margin: 10px;
    background-color: crimson;
    border-radius: 50px;
}
footer{
    background-color: orange;
    text-align: center;
    padding: 20px;
}
#dingus:hover{
    font-size: x-large;
    color: red;
    text-align: center;
}