@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --correcto_color: #2ECC71;
    --error_color: #E74C3C;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #F0CED4;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.contenedor {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.30);
    width: 500px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: #777777;
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #F0F0F0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777777;
}

.form-control.correcto input{
    border-color: var(--correcto_color);
}

.form-control.error input{
    border-color: var(--error_color);
}

.form-control small{
    color: var(--error_color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    cursor: pointer;
    background-color: #FFC0CB;
    border: 2px solid #FFC0CB;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}